[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
sanpy = "*"
selenium = "*"
python-dotenv = "*"
plotly = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
